{% extends "_layout.html" %}

{% block content %}

  <div class="card text-center">
    <div class="card-header">
      Car details
    </div>
    <div class="card-body">
      <h5 class="card-title">Special info </h5>
      <div>
        {% if item.image %}
        <img height="300" src="{{item.image.url}}" alt="{{i.brand}}">
        {% else %}
        <img height="300"
            src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg"
            alt="{{i.brand}}">
        {% endif %}
      </div>
      <li class="list-group-item">Brand: {{item.brand}}</li>
      <li class="list-group-item">Model: {{item.model}}</li>
      <li class="list-group-item">Year: {{item.year}}</li>
      <li class="list-group-item">Color: {{item.color}}</li>
      <li class="list-group-item">Price: {{item.price}}</li>
    </div>
  </div>
  <a href="/" class="btn btn-primary">Back</a>
  {% endblock %}