{% extends "_layout.html" %}

{% block content %}

<h2>Car Catalog</h2>
{% if products %}
<table class="table table-striped">
    <thead >
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
            <th scope="col">Year</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in products %}
        <tr class="align-middle">
            <th scope="row">{{i.id}}</th>
            <td>
                {% if item.image %}
                <img height="60" src="{{i.image.url}}" alt="{{i.brand}}">
                {% else %}
                <img height="60"
                    src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg"
                    alt="{{i.brand}}">
                {% endif %}
            </td>
            <td>{{i.brand}}</td>
            <td>{{i.model}}</td>
            <td>{{i.price}}$</td>
            <td>{{i.year}}</td>
            <td>
                <a href="/details/{{i.id}}" class="btn btn-info">Info</button>
                <a href="/delete/{{i.id}}" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products available.</p>
{% endif %}

{% endblock %}


