{% extends '_layout.html' %}

{% block content %}
<h1 style="text-align: center">Car rental</h1>
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
    {% for i in products %}
    <div class="col">
        <div class="card h-100">
            {% if i.image %}
            <img class="card-img-top" src="{{i.image.url}}" alt="{{i.brand}}" alt="{{i.model}}" >
            {% else %}
            <img class="card-img-top"
                src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg"
                alt="{{i.brand}}" alt="{{i.model}}" >
            {% endif %}
            <div class="card-body">
                <h5 class="card-title" >{{i.brand}} </h5>
                <h4>
                <a href="/details/{{i.id}}" class="btn" style="color: blue;">
                    {{i.model}}
                </a>
            </h4>
                <p class="card-text">{{i.price}}$ </p>
                <a href="/favourite/add/{{i.id}}" class="btn btn-primary">Add to favourite</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}